@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
    background: url(./assets/images/green-field.png) no-repeat center;
    background-size: cover;
    position: relative;
    
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-transform: capitalize;
    font-weight: bolder;
    gap: 40px;
    font-size: 1.5em;
    font-family: 'Mukta Vaani', sans-serif;
}
header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 0 10px black;
    transition: all 0.3s ease;
}
header nav ul li a:hover{
    text-shadow: 0 0 20px #FFFFFF;
}
header .home_plant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Mukta Vaani', sans-serif;
    cursor: pointer;
    letter-spacing: 6px;
    
}
.home_plant{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.scroll_header{
    font-family: 'Mukta Vaani', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    font-size: 1em;
    background-color: #D9D9D933;
    width: fit-content;
    border-radius: 20px;
    color: #FFFFFF75;
    flex: bottom;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.a_non{
    text-decoration: none;
    color: #000000;

}
.wf_left h1{
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 3.9em;
    font-weight: bold;
    line-height: 1.2em;
    
}
.wf_left p{
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    color: #475569;
    margin-top: 20px;
}
.wf_left{
    width: 440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.wf_left input{
    border: 1px solid #000000;
    height: 40px;
    width: 200px;
}
#work_flow{
    height: 100vh;
    width: 100;
    margin: 0px 0px 0px 80px;
    display: flex;
    position: relative;
}
.frame{
    position: absolute;
    right: 0px;
    margin-top: 30px;

}
.phone{
    position: absolute;
    background: none;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.workflow_getstarted{
    background-color: #055315;
    padding: 10px;

    
}
.workflow_getstarted a{
    text-decoration: none;
    color: #FFFFFF;
}
.email_group{
    display: flex;
    justify-content: center;
    align-items: center;
}